@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-colour: #f60f20;
  --secondary-colour: #1b206e;
}

/* BASE STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
  color: #111;
}

h1 {
  font-size: 30px;
  font-weight: 500;
}

p {
  margin: 20px 0 10px;
  font-size: 1.1rem;
}

/* SECTIONS */
section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  padding: 100px;
  margin-top: 60px;
}

section.home {
  flex-direction: row;
  margin-top: 60px;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

/* EMAIL BUTTON */
.btn {
  cursor: pointer;
  display: inline-block;
  background: var(--primary-colour);
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  margin: 20px 0;
  border: 0;
}

.btn:hover {
  transform: scale(0.98);
}

.logo {
  position: absolute;
  top: 10px;
  left: 50px;
  font-size: 2rem;
  font-weight: 600;
  z-index: 20;
  text-decoration: none;
  color: inherit;
}

/* TOGGLE NAV */
.toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: var(--primary-colour) url(../images/menu.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 20;
  cursor: pointer;
}

.toggle.active {
  background: var(--primary-colour) url(../images/close.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

/* NAVIGATION*/
.navigation {
  position: relative;
  top: 0;
  width: auto;
  height: 150px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms;
  padding: 20px;
}

.navigation.dyno {
  position: fixed;
  left: 100%;
  height: 100%;
  width: 100%;
  background-color: aqua;
  z-index: 15;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}

.navigation.dyno.active {
  left: calc(100% - 170px);
}

.navigation ul {
  position: relative;
  display: flex;
  flex-direction: row;
}

.navigation.dyno ul {
  flex-direction: column;
  margin-left: 2px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  text-align: center;
  justify-content: space-between;
  margin: 5vw;
}

.navigation.dyno ul li {
  margin: 10px;
}

.navigation ul li a {
  font-size: 2.2rem;
  color: #111;
  text-decoration: none;
  font-weight: 300;
}

.navigation ul li a:hover {
  color: var(--primary-colour);
}

.navigation .social-bar {
  position: absolute;
  bottom: 0;
  left: 110px;
  width: 30px;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  flex-direction: column;
}

.navigation .social-bar ul {
  flex-direction: row;
}

.navigation .social-bar a {
  display: inline-block;
  transform: scale(0.5);
}

.navigation .email-icon {
  transform: scale(0.5);
}

.top-btn {
  display: hidden;
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  z-index: 20;
  border: none;
  outline: none;
  background-color: var(--primary-colour);
  color: #fff;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 200;
}

/* HOME PAGE */
.home-content {
  position: relative;
  max-width: 800;
  padding-right: 50%;
}

.home-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 110%;
  width: 50%;
}

/* SERVICES PAGE */
.services {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center;
}

.services .service {
  padding: 30px;
}

.services .service:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.services .service .icon img {
  max-width: 100px;
}

.services .service h2 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  color: var(--secondary-colour);
}

/* CONTACT */
.contact {
  position: relative;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-form {
  position: relative;
  background: #f9f9f9;
  width: 1000px;
  padding: 60px 40px 20px;
  height: 425px;
}

.contact-form form {
  width: 100%;
}

.contact-form .row {
  width: 100%;
  display: flex;
}

.contact-form .input50 {
  width: 50%;
  margin: 0 10px;
}

.contact-form .input100 {
  width: 100%;
  margin: 0 10px;
}

.contact-form .row input,
.contact-form .row textarea {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #111;
  background: transparent;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  margin: 10px 0;
  resize: none;
}

.contact-form .row textarea {
  height: 150px;
}

.contact-form .row input[type="submit"] {
  background-color: var(--secondary-colour);
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  border: 0;
  cursor: pointer;
}

.contact-info {
  width: 500px;
  height: 425px;
  background: #f9f9f9;
  padding: 60px 40px 20px;
}

.contact-info .info-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.contact-info .info-box .contact-icon {
  width: 20px;
  margin-right: 40px;
}

.contact-info .info-box .details h4 {
  color: var(--secondary-colour);
}

.contact-info .info-box .details p,
.contact-info .info-box .details a {
  color: #111;
}

@media (max-width: 1068px) {
  .home-img {
    display: none;
  }

  .home-content {
    padding-right: 0px;
  }

  .home {
    height: 700px;
  }

  .logo {
    top: 20px;
    left: 20px;
    font-size: 1.5rem;
  }

  .section {
    padding: 100px 40px;
  }

  .navigation ul li a {
    font-size: 2rem;
  }

  .services {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact {
    flex-direction: column;
  }

  .contact-form {
    width: 100%;
    padding: 30px 20px 20px;
  }

  .contact-form .row {
    flex-direction: column;
  }

  .contact-form .input50,
  .contact-form .input100 {
    width: 100%;
    margin: 0;
  }

  .contact-info {
    width: 100%;
    margin-top: 20px;
    padding: 50px 20px 20px;
  }
}

@media (max-width: 768px) {
  .logo {
    left: 0px;
  }

  .services {
    grid-template-columns: 1fr;
  }

  .services .service {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  }

  .contact-section {
    align-items: flex-start;
    padding: 20px;
  }
}
